:host {
  display: block;
}

.toolbar {
  width: 100vw;
  max-width:100%;
  transition: all 0.2s ease-out;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  padding: 16px;
  overflow-y:scroll;
  overflow-x:hidden;
}

.fixed {
  border: none;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
}
p {
  margin: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #242424;
}
img {
  width: 24px;
  height: 24px;
}
